@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grechen+Fuemen&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grechen+Fuemen&family=Nosifer&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h3.name {
    margin: 0rem 0.1rem 0rem 0.1rem; 
    font-size: 25px;
    color: white;
    text-align: center; /* Centers text horizontally */
}


.Frame {
    background: linear-gradient(
        to bottom,
        rgba(39,3,2,255), /* Adjusted opacity for the first color */
        rgba(65, 2, 2, 0.32), /* Adjusted opacity for the second color */
        rgba(0, 0, 0, 0.475) /* Retained opacity for the last color */
    );
    margin: 0;
    padding-top: 30px ;
    padding-bottom: 10px;
}

.hull {

    margin: 150px 0pc 10px 0px;
    align-items: center;
}

.creator {
    inline-size: auto;
    overflow: hidden;
    margin-right: 830px;
    justify-content: center;
    text-align: center;
    font-size: 38px;
    color: white;
    font-family: "Nosifer", serif;
}

.icon-container {
    border: 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px; /* Space between icons */
    margin-left: auto; /* Moves the container to the right */
}

@media screen and (max-width: 768px){
    .creator {
        display: inline;
        font-size: auto; /* Adjust font size for smaller screens */
        margin-right: 70px; /* Remove margin right for better responsiveness */
    }

    .icon-container {
        flex-wrap: wrap; /* Allow icons to wrap */
        gap: 10px; /* Adjust gap for smaller screen spacing */
    }

    .icon-link {
        width: auto; /* Adjust icon size for smaller screens */
        height: auto; /* Adjust icon size for smaller screens */
    }
}

.icon-link {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-link:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    box-shadow: 0 1px 12px rgba(255, 255, 255, 0.3);
}

.icon-image {
    inline-size: 68px;
    object-fit: cover; /* Ensure the image fits inside the circle */
}